/* CSS Document */
body,html{width: 100%;height: 100%;min-width: 320px;min-height: 480px;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,textarea,p,blockquote,th,td,iframe {margin:0;padding:0;}
body{-webkit-tap-highlight-color:rgba(0,0,0,0);color: #333;}
img {border:0;}
ol,ul,li {list-style:none;}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal;}
a{ text-decoration:none; cursor:pointer}
a{color:#333333}
a:hover {color:#538e97;}
input,button{outline:none;}
/**/

/*每块背景和偏移样式*/
body{
  font-family: MicrosoftYaHei ;
  overflow-x:hidden;
  overflow-y:hidden;
  background-color: #000A38;
  background-image:url('../../assets/img/bg.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.chart_main{
  margin-top: 10vh;
  height: 90vh;
}


/*Elementui 调整*/
.el-switch__label{-webkit-transition:.2s;transition:.2s;font-size:2.3vh;font-weight:500;vertical-align:middle;color:#AFB8D2}
.el-switch__label *{line-height: 0; font-size:2.3vh!important;display:inline-block}
.el-switch__input{position:absolute;width:0;height:0;opacity:0;margin:0}
.el-switch__core{margin:0;position:relative;width:7vh!important;height:3vh!important;border:1px solid #DCDFE6;outline:0;border-radius:3vh!important;-webkit-box-sizing:border-box;box-sizing:border-box;background:#DCDFE6;-webkit-transition:border-color .3s,background-color .3s;transition:border-color .3s,background-color .3s;vertical-align:middle}
.el-switch__core:after{content:"";position:absolute;top:0.1vh!important;left:0.1vh!important;border-radius:100%;-webkit-transition:all .3s;transition:all .3s;width:2.6vh!important;height:2.6vh!important;background-color:#FFF}
.el-switch.is-checked .el-switch__core::after{left:100%;margin-left:4vh!important;}